@model CategoryViewModel

@{
    ViewData["Title"] = "Create";
}
<div style="text-align:center">
    <h1>Create</h1>
    <h4>Category</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="PartialViews/CreateEditCategoryPartialView" />
            <div class="d-flex">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-success button-link">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
