@model CategoryViewModel
@{
    ViewData["Title"] = "Delete";
}
<div style="text-align:center">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete this Category?</h3>
</div>

<div>
    <hr />
    <partial name="PartialViews/DeleteDetailsCategoryPartialView" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-success button-link">Back to List</a>

            @* <button type="button" class="btn btn-success"> <a asp-action="Index">Back to List</a></button> *@
        </div>
    </form>
</div>
