@* @model WareHouse__management_System.Models.Category *@
@model CategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="PartialViews/CreateEditCategoryPartialView" />
            <input type="hidden" asp-for="Id" />
            <div class="d-flex">
                <input type="submit" value="Save" class="btn btn-success button-link" />
                <a asp-action="Index" class="btn btn-danger button-link">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
